<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
      html,
      body,
      .container {
        height: 100%;
      }
    </style>
  </head>

  <body class="container valign-wrapper">
    <div class="row">
      <h4 class="center-align">
        The short link you are trying to reach has been revoked.
      </h4>
      <h5 class="center-align">
        Want to make your big link short? <a href="/">click here!</a>
      </h5>
    </div>
  </body>
</html>
